
body {
    background-color: #f8f9fa; /* Light grey background */
  }
  
  h1 {
    text-align: center;
  }
  
  .list-group-item {
    margin-bottom: 5px; 
  }
  .low-priority {
    color: green;
  }
  .medium-priority {
    color: orange;
  }
  .high-priority {
    color: red;
  }
  